a {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #660099; text-decoration: none; font-style: normal; font-weight: normal}
body {  background-color: #FFFFFF; background-image: none}
a:hover {  color: #FF0033}
